@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html,
body,
#root,
.App {
    width: 100vw;
    height: 100vh;
}

body {
    overflow: hidden;
}

* {
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    padding: 12px;
    background-color: #bb8aff;
    border-radius: 6px;
}
